<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<body>
    <h1>Fetching All Products</h1>
    <p>This is a sample HTML file served from Node.js using Express.</p>
</body>

</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>

<body>
    <h1>Add a Product</h1>
    <form action="/api/products" method="POST">
        <label for="product">Product Name:</label>
        <input type="text" id="product" name="productName" required>
        <button type="submit">Add Product</button>
    </form>
</body>

</html>